::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  border-radius: 10px;
  background: rgb(173, 173, 173);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.search-bars-wrapper {
  background-color: white;
  top: 0;
  margin-top: 15px;
  position: sticky;
}

.students-list-container {
  border-radius: 10px;
  background-color: white;
  margin: 10vh 20vw;
  max-width: 60vw;
  max-height: 80vh;
  min-width: fit-content;
  height: inherit;
  overflow-y: hidden;
  box-shadow: 1px 1px 3px gray;
}

.students-list-container:hover {
  overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
  .students-list-container {
    margin: 3vh 7vw;
    max-width: 86vw;
    max-height: 94vh;
  }
}
